<html>
  <head>
    <title>eeeeeeeeeee</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/jquery.hashcash.io.min.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/static/bank.css" media="all" />
    <script src="/static/jquery.hashcash.io.min.js"></script>
    <script src="/static/bank.js"></script>
  </head>
  <body>
    <h2>Welcome to the banking of the future: well-typed & decentralized!</h2>
    <button id='spawn-button' onclick="spawn()">Start your own bank</button>
    <span id='spawn-status' class='hidden'></span>
  </body>
</html>
